@model K22CNTT2_TRANVANMINH_2210900112.Models.Sach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuongDanAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuongDanAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")
    <a href="@Url.Action("AddToCart", "Cart", new { id = Model.MaSach })" class="btn btn-success">Thêm vào giỏ hàng</a>

</p>
